body {
    background-color: #333333;
    color: #EEEEEE;
    font-family: Calibri;
}

#pollNameInput {
    width: 270px;
}
#pollChoiceInput {
    height: 80px;
    width: 260px;
}
#uploadFilePath {
    width: 210px;
}
#pollGeneratorMenu {
    text-align: center;
}
#testArea {
    text-align: center;
}